!=================================================

! Este codigo possui 4 pastas essenciais para o funcionamento
! data -> armazenara os arquivos do xavier
! input -> armazenara os arquivos de entrada
! tmp -> armazenara arquivos durante a extracao dos dados (esses dados serao excuidos automaticamete)
! ouptut -> armazenara os resultados gerados
! referências -> contém arquivos para referências sobre como montar os arquivos
! src -> armazenara os scripts para o programa

! Arquivo contendo as coordenadas que se deseja buscar (dentro da pasta "input")
! Precisa possuir as colunas "latitude", "longitude" e uma coluna "municipio"
! Pode também conter uma coluna "estado", que automaticamete agrupa as saídas por estado
arquivo_coordenadas = Coordenadas_municipio_data.csv

! Diretório com os arquivos NetCDF
ncdf_path = data

! Diretório de saída dos resultados
dir_saida = output

! Variáveis requisitadas SEPARADAS por vírgula (,)
! Explicite aqui as variáveis que devem ser extraídas dos arquivos NetCDF
! Lembre-se que as variáveis disponíveis são: ETo, pr, RH, Rs, Tmax, Tmin, u2
vars = ETo, pr, RH, Rs, Tmax, Tmin, u2
!=================================================
